@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

a { text-decoration: none; }
a:link{ color: #000; }
a:visited{ color: #000; }
a:hover{ color: #4B7CC3; }
a:active{ color: #000; }

.hide {
    display: none;
}

body{
    font-family: 'Pretendard';
}



header {
    position: fixed;
    width: 100%;
    height: calc(100vw * 60 / 1920);
    top: 0;
    left: 0;
    z-index: 3;
    background: rgba(255, 255, 255, 0.445);
    backdrop-filter: blur(3px);
}
h1 {
    text-align: center;
    font-weight: 600;
    font-size: calc(100vw * 40 / 1920);
    line-height: calc(100vw * 60 / 1920);
    text-align: center;
}
.hamburger_btn{
    position: fixed;
    width: calc(100vw * 25 / 1920);
    height: calc(100vw * 20 / 1920);
    margin: calc(100vw * 18 / 1920);
    top: 0; right: 0;
    z-index: 4;
    cursor: pointer;
}
.hamburger_menu {
    position: relative;
    width: calc(100vw * 25 / 1920);
    height: calc(100vw * 20 / 1920);
}
.hamburger_menu span {
    opacity: 1;
    left: 0;
    display: block;
    width: 100%;
    height: calc(100vw * 2 / 1920);
    border-radius: calc(100vw * 10 / 1920);
    color: #000;
    background: #000;
    position: absolute;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
}
.hamburger_menu span:nth-child(1) {
    top: 0;
}
.hamburger_menu span:nth-child(2) {
    margin-top: calc(100vw * -1 / 1920);
    top: 50%
}
.hamburger_menu span:nth-child(3) {
    bottom: 0;
}
.hamburger_menu.open span:nth-child(1) {
    transform: translateY(calc(100vw * 9 / 1920)) rotate(135deg);
}
.hamburger_menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(calc(100vw * 60 / 1920));
}
.hamburger_menu.open span:nth-child(3) {
    transform: translateY(calc(100vw * -9 / 1920)) rotate(-135deg);
}
nav {
    position: absolute;
    top: 50%;
    right: 0;
    border: calc(100vw * 3 / 1920) solid #000;
    border-radius: calc(100vw * 10 / 1920) 0 0 calc(100vw * 10 / 1920);
    margin-top: calc(100vw * 330 / 1920);
    margin-right: calc(100vw * -3 / 1920);
    padding: calc(100vw * 10 / 1920);
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    transform: translateX(calc(100vw * 160 / 1920));
    transition: .4s ease-in-out;
}
nav.open{
    transform: translateX(0);
}
nav li {
    list-style: none;
    text-align: center;
    margin: calc(100vw * 20 / 1920) calc(100vw * 25 / 1920);
}





footer {
    position: relative;
    background: #4B7CC3;
    color: #fff;
    height: calc(100vw * 250 / 1920);
    margin-top: calc(100vw * 80 / 1920);
    text-align: center;
    padding: calc(100vw * 100 / 1920) calc(100vw * 200 / 1920);
    font-weight: 500;
    font-size: calc(100vw * 18 / 1920);
    line-height: calc(100vw * 24 / 1920);
}
.footer_top {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: calc(100vw * 100 /1920);
}
.footer_left {
    width: calc(100vw * 550 / 1920);
    font-weight: 300;
    font-size: calc(100vw * 30 / 1920);
    line-height: calc(100vw * 38 / 1920);
}
.footer_left h2 {
    font-weight: 300;
    font-size: calc(100vw * 36 / 1920);
    line-height: calc(100vw * 48 / 1920);
    margin-bottom: calc(100vw * 36 / 1920);
}
.footer_left h2 span {
    font-weight: 700;
}
.footer_right li {
    margin-bottom: calc(100vw * 19 / 1920);
    font-weight: 300;
    font-size: calc(100vw * 20 / 1920);
    line-height: calc(100vw * 24/ 1920);
    width: calc(100vw * 350 / 1920);
    display: flex;
    justify-content: space-between;
}

footer::before {
    display: block;
    position: absolute;
    top: calc(100vw * -160 / 1920);
    right: calc(100vw * 265 / 1920);
    content: "";
    width: calc(100vw * 352 / 1920);
    height: calc(100vw * 352 / 1920);
    background: #4B7CC3;
    border-radius: 50%;
    z-index: -3;
}
.footer_text {
    font-family: 'Reenie Beanie';
    font-weight: 500;
    font-size: calc(100vw * 64 / 1920);
}
.footer_text1 {
    position: absolute;
    top: calc(100vw * -40 / 1920);
    right: calc(100vw * 555 / 1920);
    transform: rotate(-30deg);
}
.footer_text2 {
    position: absolute;
    top: calc(100vw * -70 / 1920);
    right: calc(100vw * 545 / 1920);
    transform: rotate(-28deg);
}
.footer_text3 {
    position: absolute;
    top: calc(100vw * -95 / 1920);
    right: calc(100vw * 520 / 1920);
    transform: rotate(-20deg);
}
.footer_text4 {
    position: absolute;
    top: calc(100vw * -120 / 1920);
    right: calc(100vw * 495 / 1920);
    transform: rotate(-15deg);
}
.footer_text5 {
    position: absolute;
    top: calc(100vw * -130 / 1920);
    right: calc(100vw * 455 / 1920);
    transform: rotate(-10deg);
}
.footer_text6 {
    position: absolute;
    top: calc(100vw * -135 / 1920);
    right: calc(100vw * 410 / 1920);
    transform: rotate(30deg);
}
.footer_text7 {
    position: absolute;
    top: calc(100vw * -130 / 1920);
    right: calc(100vw * 380 / 1920);
    transform: rotate(30deg);
}
.footer_text8 {
    position: absolute;
    top: calc(100vw * -90 / 1920);
    right: calc(100vw * 315 / 1920);
    transform: rotate(60deg);
}
.footer_text9 {
    position: absolute;
    top: calc(100vw * -60 / 1920);
    right: calc(100vw * 300 / 1920);
    transform: rotate(80deg);
}
.footer_text10 {
    position: absolute;
    top: calc(100vw * -30 / 1920);
    right: calc(100vw * 295 / 1920);
    transform: rotate(90deg);
}
