#main {
    text-align: center;
    height: calc(100vw * 900 / 1920);
    padding-top: calc(100vw * 200 / 1920);
}
#main h2 {
    font-weight: 600;
    font-size: calc(100vw * 44 / 1920);
    line-height: calc(100vw * 60 / 1920);
}
.name_line {
    margin-top: calc(100vw * 100 / 1920);
}
.name_line svg {
    width: calc(100vw * 722.62 / 1920)
}
.path0 {
    stroke-dasharray: 4140.10693359375;
    stroke-dashoffset: 4140.10693359375;
    animation: name 1.3s linear forwards;
}
@keyframes name {
    0% {stroke-dashoffset: 4140.10693359375;}
    100% {stroke-dashoffset: 0;}
}


.content {
    width: 100%;
}
.content svg{
    position: absolute;
    width: 100%;
    z-index: -1;
}


#about {
    width: 100vw;
    height: calc(100vw * 2088 / 1920);
    overflow: hidden;
}
.about_line {
    top: calc(100vw * 980 / 1920);
    left: calc(100vw * 130 / 1920);
}
.path1 {
    transition: all .4s ease-in-out;
}
.profile {
    height: calc(100vw * 1088 / 1920);
    position: relative;
    font-family: 'Pretendard';
}
.profile div {
    display: inline-block;
    position: absolute;
}
.profile_left {
    left: 23%;
    top: 25%;
    text-align: center;
    font-family: 'Reenie Beanie';
    font-size: calc(100vw * 32 / 1920);
}
.profile_left img {
    display: block;
    width: 100%;
    margin-bottom: calc(100vw * 30 / 1920);
}
.profile_left .profile1 {
    position: absolute;
    top: calc(100vw * 40 / 1920);
    left: calc(100vw * 100 / 1920);
    width: calc(100vw * 42 / 1920);
    z-index: 2;
}
.profile_left .profile_path1 {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: all 1s ease-in-out;
}
.profile_left .profile2 {
    position: absolute;
    top: calc(100vw * 40 / 1920);
    left: calc(100vw * 200 / 1920);
    width: calc(100vw * 41 / 1920);
    z-index: 2;
}
.profile_left .profile_path2 {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    transition: all 1s ease-in-out;
}
.profile_left .profile3 {
    position: absolute;
    top: calc(100vw * 125 / 1920);
    left: calc(100vw * 140 / 1920);
    width: calc(100vw * 18 / 1920);
    z-index: 2;
}
.profile_left .profile_path3 {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    transition: all 2s ease-in-out;
}
.profile_left .profile4 {
    position: absolute;
    top: calc(100vw * 350 / 1920);
    left: calc(100vw * 0 / 1920);
    width: calc(100vw * 50 / 1920);
    z-index: 2;
}
.profile_left .profile_path4 {
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    transition: all .5s ease-in-out;
}
.profile_left .profile5 {
    position: absolute;
    top: calc(100vw * 480 / 1920);
    left: calc(100vw * 70 / 1920);
    width: calc(100vw * 220 / 1920);
    z-index: 2;
}
.profile_left .profile_path5 {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    transition: all 1s ease-in-out;
}
.profile_left a {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: calc(100vw * 24 / 1920);
    line-height: calc(100vw * 29 / 1920);
    display: block;
    margin-top: calc(100vw * 10 / 1920);
}
.profile_right {
    right: 0;
    width: 50%;
    height: 100%;
    text-align: left;
    padding: calc(100vw * 100 / 1920) calc(100vw * 230 / 1920) 0 calc(100vw * 135 / 1920);
}
.profile_right span {
    font-family: 'Reenie Beanie';
    font-weight: 500;
    font-size: calc(100vw * 36 / 1920);
}
.profile_right h2 {
    width: calc(100vw * 460 / 1920);
    font-weight: 600;
    font-size: calc(100vw * 36 / 1920);
    margin-top: calc(100vw * 6 / 1920);
    margin-bottom: calc(100vw * 35 / 1920);
}
.profile_right h2 span {
    font-weight: 800;
    font-size: calc(100vw * 40 / 1920);
    line-height: calc(100vw * 50 / 1920);
    color: #487AC0;
}
.profile_right p {
    width: calc(100vw * 525 / 1920);
    font-weight: 400;
    font-size: calc(100vw * 20 / 1920);
    line-height: calc(100vw * 34 / 1920);
}
.profile_right p:last-of-type {
    margin-top: calc(100vw * 380 / 1920);
    width: calc(100vw * 550 / 1920);
}
.profile_right p span {
    font-weight: 700;
    font-size: calc(100vw * 20 / 1920);
    line-height: calc(100vw * 24 / 1920);
    color: #487AC0;
}


.history {
    position: relative;
    height: calc(100vw * 1000 / 1920);
    font-weight: 400;
    font-size: calc(100vw * 20 / 1920);
    line-height: calc(100w * 30 / 1920);
}
.history h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #487AC0;
    margin-bottom: calc(100vw * 12 / 1920);
}
.history_left {
    position: absolute;
    left: 18%;
}
.history_left div:nth-of-type(1) {
    margin-top: calc(100vw * 80 / 1920);
}
.history_left div:nth-of-type(2) {
    margin-top: calc(100vw * 310 / 1920);
}
.history_left div:nth-of-type(3) {
    margin-top: calc(100vw * 180 / 1920);
}
.history_left div:nth-of-type(3) ul {
    display: inline-block;
    margin-right: calc(100vw * 70 / 1920);
}
.history_right {
    position: absolute;
    left: 55%;
}
.history_right div:nth-of-type(1) {
    margin-top: calc(100vw * 80 / 1920);
}
.history_right div:nth-of-type(2) {
    margin-top: calc(100vw * 200 / 1920);
}
.history_right div:nth-of-type(2) ul {
    margin-bottom: calc(100vw * 30 / 1920);
}



.content2 {
    padding: calc(100vw * 200 / 1920) calc(100vw * 300 / 1920);
}
.skill h2 {
    font-size: calc(100vw * 40 / 1920);
    margin-bottom: calc(100vw * 50 / 1920);
}
.skill_tab {
    display: flex;
}
.skill_tab li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw * 150 / 1920);
    height: calc(100vw * 40 / 1920);
    color: #aaa;
    font-weight: 800;
    border-right: calc(100vw * 2 / 1920) solid #aaa;
    cursor: pointer;
}
.skill_tab li:hover {
    color: #487AC0;
}
.skill_tab li.active {
    color: #000;
}
.skill_tab li:last-of-type {
    border-right: none;
}

.skill_con {
    position: relative;
    margin-top: calc(100vw * 20 / 1920);
    height: calc(100vw * 600 / 1920);
    border-top: #000 solid calc(100vw * 2 / 1920);
    padding-top: calc(100vw * 20 / 1920);
}
.skill_con li {
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    position:absolute;
    width: 100%;
}
.skill_con li.active {
    opacity: 1;
}
.skill_con li>div {
    display: flex;
    align-items: center;
    width: 33%;
    margin: calc(100vw * 40 / 1920) calc(100vw * 2 / 1920);
    padding: 0 calc(100vw * 10 / 1920);
}
.skill_con li div img {
    margin-right: calc(100vw * 30 / 1920);
    width: calc(100vw * 100 / 1920);
}
.skill_con li div {
    line-height: calc(100vw * 24 / 1920);
}
.skill_con li div h3 {
    font-size: calc(100vw * 24 / 1920);
    margin-bottom: calc(100vw * 10 / 1920);
}



#works {
    position: relative;
    height: calc(100vw * 4900 / 1920);
}
#works svg {
    position: absolute;
    top: calc(100vw * 400 / 1920);
    left: 0;
    z-index: -1;
}
.path2 {
    transition: all .4s ease-in-out;
}
.work1 {
    position: absolute;
    top: calc(100vw * 200 / 1920);
    right: calc(100vw * 100 / 1920);
}
.work2 {
    position: absolute;
    top: calc(100vw * 1200 / 1920);
    left: calc(100vw * 100 / 1920);
}
.work3 {
    position: absolute;
    top: calc(100vw * 2300 / 1920);
    right: calc(100vw * 100 / 1920);
}
.work4 {
    position: absolute;
    top: calc(100vw * 3400 / 1920);
    left: calc(100vw * 100 / 1920);
}
.work_img {
    position: relative;
    width: calc(100vw * 1000 / 1920);
    height: calc(100vw * 570 / 1920);
}
#works img {
    width: 100%;
}
.work_simple {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: calc(100vw * 220 / 1920);
    width: calc(100vw * 1000 / 1920);
    color: #fff;
    font-size: calc(100vw * 28 / 1920);
    display: none;
}